.card {
  height: 30rem;
  width: 18rem;
  margin: 3rem;
  background-color: white;
  border: 0.5px solid rgb(153, 153, 153);
}
.topCard {
  height: 60%;
  border-bottom: 1.8px solid rgb(143, 142, 142);
}
.cardImg {
  object-fit: cover;
  height: 289px;
  width: 100%;
}
.bottomCard {
  height: 40%;
}
.artistName {
  font-size: 28px;
  padding-top: 2rem;
  padding-left: 1rem;
}
.artistFollowers {
    color: rgb(143, 142, 142);
  font-size: 18px;
  padding-left: 1rem;
}
.artistRating {
  width: 60%;
  margin-left: 4rem;
  margin-top: 3.5rem;
  transform: scale(1.5);
}
