.card:hover {
}
.topCard {
  height: 289px;
}
.cardImg {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.bottomCard {
  padding: 1rem;
}
.artistName {
  text-decoration: none;
  font-size: 28px;
}
.artistFollowers {
  margin-top: 0.3rem;
  color: rgb(143, 142, 142);
  font-size: 18px;
}

.artistFollowers span {
  margin-right: 0.5rem;
}

.artistRating {
  margin-top: 2.5rem;
  font-size: 1rem;
}
.totalTracks{
  font-size: 1rem;

  
}
.redirectLink{
  background-color: green;
}
